<div class="wrapper">
  <div class="wrapper__topbar">
    <app-navbar></app-navbar>
  </div>
  <div class="wrapper__container">
    <app-container></app-container>
  </div>
  <div class="wrapper__footer">
    <app-footer></app-footer>
  </div>
</div>
