@import "../../../assets/scss/main";

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__topbar {
    height: 6rem;
    background-color: rgba($color-ligth-1, .9);
  }

  &__container {
    flex: 1;
  }

  &__footer {
    height: 5rem;
    background-color: black;
  }
}
