// Color
$color-primary: #f56927;
$color-primary-light: #fba730;
$color-primary-dark: #f25c25;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-dark-1: #000;
$color-ligth-1: #fff;

$color-blue-1: #0b63b5;
