.login-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.login {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  width: 60vw;
  height: 70vh;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: .2rem .2rem 1rem rgba(black, .5);

  &__form {
    flex: 40% 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(white, .5);
    .title {
      margin: 2rem 0;
      img {
        width: 8rem;
        height: 8rem;
      }
    }

    .body {
      display: block;
      padding: 2rem;
      mat-form-field {
        width: 100%;
      }
      &__action {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        a {
          text-decoration: none;
        }
      }
    }

    .footer {
      a {
        text-decoration: none;
        cursor: pointer;

        &:visited {
          color: blue;
        }
      }
    }
  }

  &__info {
    flex: 60% 0;

    &--image {
      width: 100%;
      height: 100%;
    }
  }
}
