<div class="login-container">
  <div class="login">
    <div class="login__form">
      <div class="title">
        <img src="./../../../../../assets/images/pages/logo.png" alt="Logo">
      </div>
      <div class="body" [formGroup]="loginForm">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <button mat-button mat-raised-button color="primary"
                id="loginButton"
                [disabled]="!loginForm.valid || isLoading"
                (click)="onLoginSubmit()"
                style="width: 100%;">Login
        </button>
        <div class="body__action">
          <mat-checkbox>Remember me</mat-checkbox>
          <a href="#">Forgot password?</a>
        </div>
      </div>
      <div class="footer">
        <span>Don't have an account?
          <a [routerLink]="['/auth/register']">Register here</a>
        </span>
      </div>
    </div>
    <div class="login__info">
      <img src="./../../../../../assets/images/pages/bg-login.jpg" alt="Login Cover" class="login__info--image">
    </div>
  </div>
</div>
