.login-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  width: 60vw;
  height: 80vh;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: .2rem .2rem 1rem rgba(black, .5);

  &__form {
    flex: 40% 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(white, .5);

    .title {
      margin-top: 1rem;

      img {
        width: 6rem;
        height: 6rem;
      }
    }

    .body {
      display: block;
      padding: 2rem;

      mat-form-field {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: .5rem;
        }
      }

      &__group {
        display: flex;

        mat-form-field {
          &:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }

      button {
        margin-top: 1.5rem;
      }
    }

    .footer {
      a {
        text-decoration: none;
        cursor: pointer;

        &:visited {
          color: blue;
        }
      }
    }
  }

  &__info {
    flex: 60% 0;

    &--image {
      width: 100%;
      height: 100%;
    }
  }
}
