<div class="login-container">
  <div class="login">
    <div class="login__form">
      <div class="title">
        <img src="./../../../../../assets/images/pages/logo.png" alt="Logo">
      </div>
      <div class="body" [formGroup]="registerForm">
        <div class="body__group">
          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
        </div>
        <mat-form-field>
          <input id="username" matInput placeholder="Username" formControlName="username" (focusout)="checkUsername()">
          <mat-error *ngIf="duplicateValidation.isUsernameExist">Username already taken</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input id="email" matInput placeholder="Email" formControlName="email" (focusout)="checkEmail()">
          <mat-error *ngIf="duplicateValidation.isEmailExist">Email already taken</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
        </mat-form-field>
        <mat-checkbox formControlName="agree">I Agree</mat-checkbox>
        <button mat-button mat-raised-button color="primary"
                id="registerButton"
                [disabled]="!registerForm.valid || duplicateValidation.isUsernameExist ||
                duplicateValidation.isEmailExist || !registerForm.controls.agree.value"
                (click)="onRegister()"
                style="width: 100%;">Register
        </button>
      </div>
      <div class="footer">
        <span>Have an account?
          <a [routerLink]="['/auth/login']">Login here</a>
        </span>
      </div>
    </div>
    <div class="login__info">
      <img src="./../../../../../assets/images/pages/bg-register.jpg" alt="Register Cover" class="login__info--image">
    </div>
  </div>
</div>
