.my-card {
  background-color: $color-ligth-1;
  height: 35rem;
  width: 85%;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  transition: .2s all;

  &:hover {
    transform: scale(1.03, 1.03);
  }

  &__cover {
    img {
      width: 100%;
      height: 23rem;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    p {
      font-size: 1.8rem;
      font-weight: 500;
    }
  }

  &__content {
    align-self: center;
  }

  &__footer {
    flex: 1;
    justify-self: flex-end;
    margin: 0 1rem;
  }
}
