.my-chips {
  min-width: 4rem;
  min-height: 2.5rem;
  border: 1px solid rgba($color-grey-dark-2, .5);
  border-radius: .5rem;
  padding: .2rem .8rem;
  &:not(:last-child) {
    margin-right: .5rem;
  }
  margin-bottom: .5rem;
}
