.dialog {
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba($color-grey-dark-2, .3);
    height: 5rem;
    padding: 0 1.5rem;

    &--text {
      font-size: 1.5rem;
      font-weight: 500;
    }

    &--action {

    }
  }

  &__content {
    flex-grow: 1;
    padding: 0 1.5rem;
    min-height: 20rem;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid rgba($color-grey-dark-2, .3);
    height: 5rem;
    padding: 0 1.5rem;

    button {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }
}
