<div class="category">
  <div class="row">
    <div class="col-lg-3 col-md-6" *ngFor="let cat of categories">
      <div class="category__list">
        <span class="category__list--title">{{cat.name}}</span>
        <div class="category__list--action">
          <button mat-icon-button matTooltip="Edit Category" (click)="editCategoryDialog(cat)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" matTooltip="Remove Category">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="category__new">
        <button mat-raised-button color="primary" (click)="editCategoryDialog()">Add
          <mat-icon>add</mat-icon>
        </button>
      </div>

    </div>
  </div>
</div>
