@import "../../../../../assets/scss/variable";

.category {
  margin: 5rem 10rem;
  &__list {
    background-color: rgba($color-primary, .8);
    width: 100%;
    height: 5rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    &--title {
      font-size: 1.5rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    &--action {
      background-color: rgba($color-ligth-1, .5);
      border-radius: 1rem;
    }
  }

  &__new {
    width: 50%;
    border-radius: 2rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    &--title {
      font-size: 1.5rem;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

}
