<div class="navbar">
  <div class="navbar__logo">
    <img src="../../../assets/images/pages/logo.png" alt="Logo" class="navbar__logo--image">
  </div>
  <div class="navbar__menu">
    <span class="navbar__menu--item">Home</span>
    <span class="navbar__menu--item">Movies</span>
    <span class="navbar__menu--item">
      <a [routerLink]="['/categories']">Categories</a>
    </span>
    <span class="navbar__menu--item" [matMenuTriggerFor]="users">Users</span>
    <mat-menu #users="matMenu" xPosition="after">
      <button mat-menu-item>Users</button>
      <button mat-menu-item>Roles</button>
    </mat-menu>
  </div>
  <div class="navbar__action">
    <button mat-button class="login" (click)="onLoginNavigate()">Login</button>
    <button class="register" mat-flat-button (click)="onRegisterNavigate()">Register</button>
  </div>
</div>
