@import '../../../assets/scss/main';

.navbar {
  display: flex;
  padding: 1rem 3rem;

  &__logo {
    display: flex;
    align-items: center;
    &--image {
      width: 4rem;
      height: 4rem;
    }
  }

  &__menu {
    margin-left: 5rem;
    display: flex;
    align-items: center;

    &--item {
      font-weight: 500;
      font-size: 1.6rem;
      text-transform: capitalize;
      cursor: pointer;

      &:not(:first-child) {
        margin-left: 3rem;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      &:hover {
        /*border: 1px solid rgba($color-dark-1, .7);*/
        color: rgba($color-primary, .8);
      }
    }
  }

  &__action {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .register {
      width: 10rem;
      height: 85%;
      background-color: rgba($color-primary, .7);
    }

    .login {
      margin-right: 1.2rem;
      width: 7rem;
      height: 85%;
    }
  }
}
