<div class="dialog">
  <div class="dialog__title">
    <span class="dialog__title--text">{{category.id ? 'Update Category' : 'Add Category'}}</span>
    <div class="dialog__title--action">
      <button mat-icon-button (click)="onDialogClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="dialog__content">
    <div class="input-category" [formGroup]="categoryForm">
      <mat-form-field>
        <input matInput placeholder="Category name" formControlName="name">
      </mat-form-field>
    </div>
  </div>
  <div class="dialog__footer">
    <button mat-raised-button color="primary" [disabled]="!categoryForm.valid" (click)="onSaveCategory()">Save</button>
    <button mat-raised-button color="accent" (click)="onDialogClose()">Cancel</button>
  </div>
</div>
