<div class="home">
  <div class="home__search">
    <input placeholder="Search movie..." class="home__search--input">
    <button class="home__search--button" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="home__content">
    <div class="row">

      <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let movie of publishedMovies">
        <div class="my-card">
          <div class="my-card__cover">
            <img
              [src]="movie.cover"
              [alt]="movie.title">
          </div>
          <div class="my-card__title">
            <p>{{movie.title}}</p>
          </div>
          <div class="my-card__content">
            <div class="category-list">
              <div class="my-chips" *ngFor="let cat of movie.categories">
                {{cat.name}}
              </div>
            </div>
          </div>
          <div class="my-card__footer">
            <button class="button-book">WATCH NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
