@import "../../../../../assets/scss/variable";
.home {
  display: flex;
  padding: 3rem 10rem;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  &__search {
    margin-bottom: 2rem;
    align-self: center;
    justify-self: center;

    &--input {
      width: 50rem;
      height: 3.5rem;
      outline: none;
      border: none;
      padding: 0 1rem;
      border-radius: .5rem;
      transition: .2s all;

      &:focus {
        box-shadow: .1rem .1rem 1rem rgba($color-grey-dark-1, .4);
      }
    }

    &--button {
      height: 3.5rem;
      outline: none;
      border: none;
    }
  }

  &__content {
  }
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.button-book {
  margin-top: 1rem;
  background-color: $color-dark-1;
  width: 100%;
  height: 3.2rem;
  border-radius: .2rem;
  border: none;
  outline: none;
  color: $color-ligth-1;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}
